<h2>My Heroes</h2>
<div>
  <label>
    Hero name:
    <input #heroName />
  </label>
  <button (click)="this.saveHero(heroName.value); heroName.value=''">Add new Hero</button>
</div>
<ul class="heroes">
  <li *ngFor="let hero of this.heroes" [class.selected]="hero === this.selectedHero">
    <a (click)="selectHero(hero)">
      <span class="badge">{{ hero.id }}</span> {{ hero.name }}
    </a>
    <button (click)="deleteHero(hero)">x</button>
  </li>
</ul>
<app-hero-detail [hero]="this.selectedHero"></app-hero-detail>
